footer.footer
    .section_in
        .navFooter 
            ul.navFooter__list О компании
                .navFooter__box
                    li.navFooter__item 
                        a(href="")  Наша миссия
                    li.navFooter__item 
                        a(href="")  Наши вакансии
                    li.navFooter__item 
                        a(href="")  Тарифы
                    li.navFooter__item 
                        a(href="")  Контакты

            ul.navFooter__list Информация
                .navFooter__box
                    li.navFooter__item 
                        a(href="") Политика конфиденциальности
                    li.navFooter__item 
                        a(href="") Договор оферты
                    li.navFooter__item 
                        a(href="")  Пользовательское соглашение
                    li.navFooter__item 
                        a(href="")  Политика обработки персональных данных
                    li.navFooter__item 
                        a(href="")  API-key

            ul.navFooter__list Поддержка
                .navFooter__box
                    li.navFooter__item 
                        a(href="")  Вопрос ответ
                    li.navFooter__item 
                        a(href="")  Связаться с нами

        