footer.footer
    .section_in
        .navFooter 
            ul.navFooter__list 
                p Услуги
                .navFooter__box
                    li.navFooter__item 
                        a(href="")  Аренда техники
                    li.navFooter__item 
                        a(href="")  Строительство зданий
                    li.navFooter__item 
                        a(href="")  Доставка сыпучих материалов
                    li.navFooter__item 
                        a(href="")  Промышленное строительство
                    li.navFooter__item 
                        a(href="")  Строительство дорог

            ul.navFooter__list 
                p контакты
                .navFooter__box
                    li.navFooter__item
                        .navFooter__item-contact
                            img(src="../i/icons/icon-phone-white.svg", alt="")
                            a(href="#") (8202) 59-88-99
                        .navFooter__item-contact
                            img(src="../i/icons/icon-phone-white.svg", alt="")
                            a(href="#") 8(951)731-08-40
                        .navFooter__item-contact
                            img(src="../i/icons/icon-map.svg", alt="")
                            p г. Череповец, ул.Стройиндустрии, д. 13
                        .navFooter__item-contact
                            img(src="../i/icons/icon-mail.svg", alt="")
                            a(href="mailto:dskvektor@mail.ru") dskvektor@mail.ru
                           

            ul.navFooter__list 
                p(style="text-align:right;") меню
                .navFooter__box(style="text-align:right;")
                    li.navFooter__item 
                        a(href="")  Главная
                    li.navFooter__item 
                        a(href="")  О компании
                    li.navFooter__item 
                        a(href="")  Объекты
                    li.navFooter__item 
                        a(href="")  Аренда техники
                    li.navFooter__item 
                        a(href="")  Контакты
       
        .navFooter__line 
            .navFooter__footer
                .navFooter__footerText 
                    p Авторское право © 2016.
                .navFooter__footerText-copyright 
                    p Все права защищены. Строительная компания "Вектор"


        