header 
	.navbar.fixed-top
		.section_in
			.navbar-container.container
				input(type="checkbox" name="" id="")
				.hamburger-lines
					span.line.line1
					span.line.line2
					span.line.line3

				.logo-icon.logo-icon-desc
					.logo-icon__img 
						img(src="i/icons/logo.svg", alt="")
				
				ul.menu-items.menu-toggle-open
					li.navItem
						a(href="#advant") Главная
					li.navItem
						a(href="about.html") О нас
					li.navItem
						a(href="#price") Услуги
						ul.navItem__submenu
							li.navItem__submenu-item 
								a Аренда техники
							li.navItem__submenu-item 
								a Строительство зданий
							li.navItem__submenu-item 
								a(href="dostavkaMaterialov.html") Доставка сыпучих материалов
							li.navItem__submenu-item 
								a Промышленное строительство
							li.navItem__submenu-item 
								a Строительство дорог
					li.navItem
						a(href="#price") Объекты
					li.navItem
						a(href="#price") Аренда техники
						ul.navItem__submenu
							li.navItem__submenu-item 
								a Аренда самосвала (44 ед.)
							li.navItem__submenu-item 
								a Аренда трейлера (5 ед.)
							li.navItem__submenu-item 
								a Аренда катков (6 ед.)
							li.navItem__submenu-item 
								a Аренда бульдозера (19 ед.)
							li.navItem__submenu-item 
								a Аренда легкового коммерческого транспорта (10 ед.)
							li.navItem__submenu-item 
								a Аренда экскаватора (24 ед.)
							li.navItem__submenu-item 
								a Аренда фронтального погрузчика (7 ед.)
							li.navItem__submenu-item 
								a Аренда спецтехники
					li.navItem
						a(href="#price") Презентация
					li.navItem
						a(href="#price") Контакты

					.phoneBox.phoneBox-mobile
						.phoneBox__item
							.phoneBox__item-tel
								img(src="i/icons/icon-phone.svg", alt="")
								a(href="tel:8202598899") (8202)59-88-99
								
							.phoneBox__item-tel
								img(src="i/icons/icon-phone.svg", alt="")
								a(href="tel:+79517310840") 8(951)731-08-40

				.phoneBox.phoneBox-desck 
					.phoneBox__item
						.phoneBox__item-tel
							img(src="i/icons/icon-phone.svg", alt="")
							a(href="tel:8202598899") (8202)59-88-99
							
						.phoneBox__item-tel
							img(src="i/icons/icon-phone.svg", alt="")
							a(href="tel:+79517310840") 8(951)731-08-40

