header 
	.navbar.fixed-top
		.section_in
			.navbar-container.container
				input(type="checkbox" name="" id="")
				.hamburger-lines
					span.line.line1
					span.line.line2
					span.line.line3

				.logo-icon.logo-icon-desc
					.logo-icon__img 
						img(src="i/icons/logo.svg", alt="")
				
				ul.menu-items.menu-toggle-open
					.logo-icon.logo-icon-mobile
						.logo-icon__img 
							img(src="i/icons/logo.svg", alt="")
					li.navItem
						a(href="#advant") Программы лояльности
						img.navItem__dropdown-img(src="i/icons/check_navbar.svg", alt="")
					li.navItem
						a(href="#promotions") Тарифы
					li.navItem
						a(href="#price") Кейсы

					.button-header-mobile
						.btn-enter
							a(href="") Войти
						.btn-all.btn-register.mobile-register
							a(href="") Зарегистрироваться
					
				.button-header 
					.btn-enter
						a(href="") Войти
					.btn-all.btn-register
						a(href="") Зарегистрироваться
						
			.contact-box
					//- .contact-box__phone-icon 
					//- 	img(src="i/icons/i-phone.svg", alt="")
					//- 	a(href="tel:+79182617028") 8 (918) 261-70-28
					//- .contact-box__messanger.contact-box__messanger-desck
					//- 	.contact-box__messanger-icon 
					//- 		img(src="i/icons/i-telega.svg", alt="")
					//- 	.contact-box__messanger-icon 
					//- 		img(src="i/icons/i-whatsapp.svg", alt="")
					//- .contact-box__button-call.btn-all.js-open-modal(data-modal="call")  
					//- 	a(href="#") Перезвоните мне
		