.footer {
    background-image: url(../i/footer-bg.jpg);
    padding: 6rem;
    margin-top: 10rem;
    background-repeat: no-repeat;
    @include bp($point_4) {
        background-size: cover;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 4rem;
        padding-top: 2rem;
        overflow-y: hidden;
    }
}

.navFooter__titleRigh {
    text-align: right;
    @include bp($point_4) {
        text-align-last: left;
    }
}

.navFooter {
    display: flex;
    justify-content: space-between;
    @include bp($point_4) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: #636363;
    }
    &__box {
        margin-top: 5rem;
        @include bp($point_5) {
            margin-top: 2rem;
        }
    }
    &__titleRight {
        text-align: right;
        @include bp($point_4) {
            text-align-last: left;
        }
    }
    &__list {
        p {
            color: #fff;
            font-family: $font_1;
            font-size: 2rem;
            text-transform: uppercase;
        }
        @include bp($point_4) {
            margin-top: 2rem;
        }
    }
    &__item {
        padding-bottom: 2.4rem;
        a:hover {
            color: $yellow;
        }
    }
    &__item-contact {
        padding-bottom: 2.4rem;
        display: flex;
        align-items: center;
    }
    &__item-contact p {
        font-family: $font_2;
        text-transform: none;
        font-size: 1.6rem;
    }
    &__item-contact img {
        margin-right: 10px;
    }
    &__item a {
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
        font-family: $font_2;
        font-weight: 300;
    }
    &__footer {
        padding-top: 2.7rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        color: #fff;
        font-family: $font_2;
        @include bp($point_4) {
            flex-direction: column;
            padding-top: 1.7rem;
            font-size: 1rem;
        }
    }
    &__footerText-copyright {
        text-align: right;
        @include bp($point_4) {
            text-align: left;
        }
    }
}