        html {
            overflow-x: hidden;
        }
        
        body {
            overflow-x: hidden;
        }
        
        .main {
            &__img-bg {
                position: relative;
            }
        }
        
        .arrow {
            position: absolute;
            z-index: 9;
            bottom: 7%;
            left: 50%;
            transform: translate(0%, -50%);
            cursor: pointer;
        }
        
        .prev2 {
            margin-left: -7%;
        }
        
        .slider-banner {
            &__item1 {
                background-image: url(../i/banner-slide1.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__item2 {
                background-image: url(../i/banner-slide2.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__item3 {
                background-image: url(../i/banner-slide3.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__item4 {
                background-image: url(../i/banner-slide4.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__item5 {
                background-image: url(../i/banner-slide5.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        
        .itemBlock {
            margin-top: 8%;
        }
        
        .aboutCompany-block {
            &__row {
                display: flex;
                justify-content: space-between;
            }
            &__box {
                width: 60%;
                display: flex;
                align-items: flex-end;
            }
            &__text {
                margin-left: 9rem;
            }
        }
        
        .titleBlock {
            display: flex;
            align-items: center;
            &__lines {
                margin-right: 14px;
                margin-left: 14px;
                background-color: $yellow;
                width: 100px;
                height: 4px;
            }
            &__positionRight {
                text-align-last: right;
            }
        }
        
        .textStart p {
            font-size: 2.8rem;
            font-family: $font_4;
        }
        
        .textIndention p {
            margin-top: 2.2rem;
            font-family: $font_3;
            font-size: 1.8rem;
            line-height: 122%;
        }
        
        .textSignature {
            margin-top: 3.5rem;
            p {
                font-family: $font_3;
                span {
                    font-family: $font_4;
                }
            }
        }
        
        .indentation {
            margin-top: 100px;
        }
        
        .advantages {
            margin-top: 10rem;
            &__row {
                display: flex;
                justify-content: space-between;
            }
            &__col {
                display: flex;
                align-items: center;
            }
            &__figure {
                font-size: 4.2rem;
                margin-right: 1.6rem;
            }
            &__text {
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
        
        .col-center::after {
            margin-left: 9.5rem;
            content: '';
            height: 55px;
            width: 1px;
            background-color: #8A8A8A;
        }
        
        .col-center::before {
            margin-right: 9.5rem;
            content: '';
            height: 55px;
            width: 1px;
            background-color: #8A8A8A;
        }
        
        .services-block {
            &__row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                &-indentation {
                    margin-top: 15px;
                }
            }
            &__indentation {
                margin-top: 4.2rem;
            }
            &__col1 {
                width: 66.2%;
            }
            &__img1 {
                position: relative;
                background-image: url(../i/services1.jpg);
                background-size: cover;
                height: 40rem;
                background-repeat: no-repeat;
            }
            &__img2 {
                position: relative;
                background-image: url(../i/services2.jpg);
                width: 48rem;
                height: 40rem;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__img3 {
                position: relative;
                background-image: url(../i/services3.jpg);
                width: 48rem;
                height: 40rem;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__img4 {
                position: relative;
                background-image: url(../i/services4.jpg);
                width: 48rem;
                height: 40rem;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__img5 {
                position: relative;
                background-image: url(../i/services5.jpg);
                width: 48rem;
                height: 40rem;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__title {
                position: absolute;
                top: 0;
                h3 {
                    padding-top: 3rem;
                    padding-left: 3.5rem;
                }
            }
        }
        
        .project-block {
            text-align: right;
            margin-right: 0;
        }
        
        .titleBlock-floatRight {
            float: right;
        }