extends _layout
block content_block
    section
        .section_in
            .aboutPage.indentation__page
                .titleBlock
                    h2 контакты
                    .titleBlock__lines

                    .contacts 
                        .contacts__row 
                            .contacts__col 
                                .contacts__textName Юридический адрес: 
                                .contacts__text 
                                    img(src="../i/icon-map.svg", alt="")
