extends _layout
block content_block
	section.main
		.section_in
			.main__row
				.main__img-bg 
					img(src="i/img-banner-1.png", alt="")
				.main__img-footer 
					img(src="i/img-banner-blur1.png", alt="")
				.main__col
					.main__col-left
						h1 увеличивайте продажи с помощью виджета на вашем сайте 
						.main__text 
							p Установите виджет на ваш сайт, который <br> будет собирать контакты посетителей. 
						.main__advantages.advant-main-screen 
							.advant-main-screen__list 
								.advant-main-screen__item 
									img(src="i/icons/icon1.svg", alt="")
									p Установка <br> и настройка занимает всего <b> 10 минут</b> 
								.advant-main-screen__item 
									img(src="i/icons/icon2.svg", alt="")
									p <b> Стоимость лида в 15 раз меньше </b> по сравнению с контекстной рекламой
				.widget-img
					img(src="i/img-banner-2.png", alt="")
				.main__col-right 
					.widget
						.widget__title Создать виджет
						.widget__form
							input(type="checkbox")
							label Рассчитать прогнозируемую выгоду
							p Укажите количество посетителей сайта за месяц
							input.widget__input-style(type="text")
							p Сайт компании
							input.widget__input-style(type="text" placeholder="Правильный текст")
							p Сфера бизнеса
							input.widget__input-style(type="text" placeholder="Правильный текст")
							
							input.widget__loading-logo.input.input__file#input__file(type="file" name="file" multiple)
							label(for="input__file" class="input__file-button")
								//- span.input__file-icon-wrapper
								span.input__file-button-text Загрузить<br>логотип
							
							.widget__footer 
								.widget__footer-block 
									p Соберем контакты
									.widget__footer-price 200 шт.
								.widget__footer-block 
									p Поможем совершить
									.widget__footer-price 20 продаж
								.widget__footer-block 
									p Стоимость тарифа
									.widget__footer-price 8 000 руб. 
								
							.widget__form-button.btn-all
								a(href="") Продолжить

					.widget-img-footer
						img(src="i/img-banner-3.png", alt="")
								
	.section_in 
		.advantagesBlock__row 
			.advantagesBlock__list
				.advantagesBlock__item 
					.advantagesBlock__item-title 2 мин
					.advantagesBlock__item-text на создание <br> виджета
				.advantagesBlock__item 
					.advantagesBlock__item-title 3000+
					.advantagesBlock__item-text виджетов  <br> подключено
				.advantagesBlock__item 
					.advantagesBlock__item-title 1 млн
					.advantagesBlock__item-text лидов <br> уже собрано



	.brands
		h2.title-block-center#brands CloudsGoods выбирают
		.brands__list 
			.brands__item 
				img(src="i/icons/logo1.svg", alt="")
			.brands__item 
				img(src="i/icons/logo2.svg", alt="")
			.brands__item 
				img(src="i/icons/logo3.svg", alt="")
			.brands__item 
				img(src="i/icons/logo4.svg", alt="")
			.brands__item 
				img(src="i/icons/logo5.svg", alt="")
			.brands__item 
				img(src="i/icons/logo6.svg", alt="")
			.brands__item 
				img(src="i/icons/logo7.svg", alt="")
		
		//- .brands__list-mobile 
		//- 	.brands__item 
		//- 		img(src="i/icons/i-brand1-mobile.svg", alt="")
		//- 	.brands__item 
		//- 		img(src="i/icons/i-brand2-mobile.svg", alt="")
		//- 	.brands__item 
		//- 		img(src="i/icons/i-brand3-mobile.svg", alt="")
		//- 	.brands__item 
		//- 		img(src="i/icons/i-brand4-mobile.svg", alt="")

	.section_in
		.description-advant 
			.description-advant__row 
				.description-advant__col 
					.description-advant__img 
						img(src="i/img-desck.png", alt="")
				.description-advant__col 
					.description-advant__list 
						.description-advant__item 
							.description-advant__item-img 
								img(src="i/icons/navigate.svg", alt="")
							.description-advant__item-txt Собирайте контакты всех посетителей вашего сайта

						.description-advant__item 
							.description-advant__item-img 
								img(src="i/icons/remove-user.svg", alt="")
							.description-advant__item-txt Собирайте контакты всех посетителей вашего сайта

						.description-advant__item 
							.description-advant__item-img 
								img(src="i/icons/cursor.svg", alt="")
							.description-advant__item-txt Собирайте контакты всех посетителей вашего сайта

						.description-advant__item 
							.description-advant__item-img 
								img(src="i/icons/open mail.svg", alt="")
							.description-advant__item-txt Собирайте контакты всех посетителей вашего сайта

					.description-advant__button.btn-all
						a(href="") Подключить

	.section_in
		.our-work-block
			.our-work__title
				h2 наши кейсы
			
			.slider-work
				.our_works
					.our_works__slider.slider 
						.slider__item 
							.slider__header 
								p МАРТ 2022
								.slider__header-dote 
								p ИСТОРИЯ УСПЕХА
							.slider__title сеть магазин Modi
							.slider__body
								div
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Сфера бизнеса:
										.slider__body-txt.slider__body-txt-desck Сеть магазинов  с товарами разных категорий
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Задача:
										.slider__body-txt.slider__body-txt-desck Собрать 300 лидов с помощью игрового виджета в праздник “День защитника Отечества”
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Решение:
										.slider__body-txt.slider__body-txt-desck Установить виджет с игрой на сайт для сбора контактов всех посетителей. Разыграть в игре скидки на всю продукцию и запустить маркетинговую рассылку по всем игрокам.
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Результаты: 
										.slider__body-txt.slider__body-txt-desck Собрано – 371 лид в праздник. Отправлено 1113 маркетинговых сообщений (цепочка из трех писем). Совершено 57 продаж с применением скидки из игры.
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Стоимость: 
										.slider__body-txt.slider__body-txt-desck 2 500 руб за сбор лидов и отправку писем
								div
									.slider__body-img 
										img(src="i/Mask group.png", alt="")
				.our_works
					.our_works__slider.slider 
						.slider__item 
							.slider__header 
								p МАРТ 2022
								.slider__header-dote 
								p ИСТОРИЯ УСПЕХА
							.slider__title сеть магазин Modi
							.slider__body
								div
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Сфера бизнеса:
										.slider__body-txt.slider__body-txt-desck Сеть магазинов  с товарами разных категорий
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Задача:
										.slider__body-txt.slider__body-txt-desck Собрать 300 лидов с помощью игрового виджета в праздник “День защитника Отечества”
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Решение:
										.slider__body-txt.slider__body-txt-desck Установить виджет с игрой на сайт для сбора контактов всех посетителей. Разыграть в игре скидки на всю продукцию и запустить маркетинговую рассылку по всем игрокам.
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Результаты: 
										.slider__body-txt.slider__body-txt-desck Собрано – 371 лид в праздник. Отправлено 1113 маркетинговых сообщений (цепочка из трех писем). Совершено 57 продаж с применением скидки из игры.
									.slider__body-block
										.slider__body-txt.slider__body-txt-name Стоимость: 
										.slider__body-txt.slider__body-txt-desck 2 500 руб за сбор лидов и отправку писем
								div
									.slider__body-img 
										img(src="i/Mask group.png", alt="")



	.section_in 
		.templateBlock 
			h2.templateBlock__title Множество шаблонов для виджетов на сайт
			p Шаблоны адаптированы под различные сферы бизнеса.
	.template
		div
			img(src="i/template4.jpg", alt="")
		div
			img(src="i/template1.jpg", alt="")
		div
			img(src="i/template2.jpg", alt="")
		div
			img(src="i/template3.jpg", alt="")
		div
			img(src="i/template4.jpg", alt="")

	.template__text Выберете свой и установите на сайт!
	
	.section_in 
		.reviews 
			.reviews__title Отзывы
			.reviews__list
				.reviews__item
					.reviews__col
						img(src="i/reviews1.png", alt="")
					.reviews__col-left
						.reviews__box
							div
								.reviews__item-name Сергей 
								.reviews__item-work сеть ресторанов Вареничная
							.reviews__item-icon 
								img(src="i/icons/icon-fire.svg", alt="")
								
					
						.reviews__item-rating 
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
						.reviews__item-text Используем игровой метод для сбора лидов уже полгода. Результаты очень радуют. Значительно сократились расходы на маркетинговое продвижение. 


				.reviews__item
					.reviews__col
						img(src="i/reviews2.png", alt="")
					.reviews__col-left
						.reviews__box
							div
								.reviews__item-name Илья 
								.reviews__item-work владелец франшизы Cofix
							.reviews__item-icon 
								img(src="i/icons/icon-stars.svg", alt="")
					
						.reviews__item-rating 
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
						.reviews__item-text  Разместил игру в заведении с помощью брошюр. Как правило, каждый 4 клиент играет и оставляет свой контакт. Сервисом однозначно будем продолжать пользоваться. 

				.reviews__item
					.reviews__col
						img(src="i/reviews2.png", alt="")
					.reviews__col-left
						.reviews__box
							div
								.reviews__item-name Илья 
								.reviews__item-work владелец франшизы Cofix
							.reviews__item-icon 
								img(src="i/icons/icon-stars.svg", alt="")
					
						.reviews__item-rating 
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
							img(src="i/icons/i-star.svg", alt="")
						.reviews__item-text Разместил игру в заведении с помощью брошюр. Как правило, каждый 4 клиент играет и оставляет свой контакт. Сервисом однозначно будем продолжать пользоваться. 

	//- .section_in 
	.offerBlock 
		.offerBlock__col-right
			.offerBlock__title 
				h2 Собирайте лидов с помощью виджета на вашем сайте
			.offerBlock__text Установите виджет на ваш сайт, который будет увеличивать вам продажи. 
			ul.offerBlock__list
				li
					img(src="i/icons/icon-check.svg", alt="") 
					p Быстрая настройка виджета
				li
					img(src="i/icons/icon-check.svg", alt="") 
					p Стоимость лида ниже чем в рекламе
				li
					img(src="i/icons/icon-check.svg", alt="") 
					p Платите только за сбор контактов
		.offerBlock__col
			.tariffWidget
				.tariffWidget__name Тариф
				.tariffWidget__subName “Виджет”
				ul.tariffWidget__list
					li
						img(src="i/icons/icon-check.svg", alt="") 
						p Входит сбор 300 лидов
					li
						img(src="i/icons/icon-check.svg", alt="") 
						p Нет ограничений по времени
				.tariffWidget__price 1 000 ₽
				.tariffWidget__button.btn-all Купить

		.offerBlock__feed 
			img(src="../i/feed-of-pictures.png", alt="")

						



					

				

